#bt-rom {
    color: #fff;
    background-color: var(--background);
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    border: 2px white solid;
    border-radius: 6px;
    outline: none;
}

#bt-rom:active {
    background-color: var(--button-hover);
}

input {
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    border: none;
    border-radius: 6px;
    padding: 10px;
    color: var(--form-text);
    background-color: var(--background);
}
